<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>好棒大夫预约挂号系统登录页面</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">


<!--可无视-->
<!--<link rel="stylesheet" href="css/bootstrap.min.css../../static/loginregister/css/bootstrap.min.css">-->
<link type="text/css" rel="stylesheet" href="/loginregister/css/bootstrap.min.css">

<!--主要样式-->
<!--<link type="text/css" href="css/style.css" rel="stylesheet" />-->
<link type="text/css" href="/loginregister/css/style.css" rel="stylesheet" />
<script src="/loginregister/js/jquery.min.js"></script>
<script src="/loginregister/layui/layui.js"></script>
<script>
// if(self!=top)
// {
// 	parent.location.href='index.html';
// }
// function CheckLogin(obj){
// 	if(obj.username.value=='')
// 	{
// 		alert('请输入用户名');
// 		obj.username.focus();
// 		return false;
// 	}
// 	if(obj.password.value=='')
// 	{
// 		alert('请输入登录密码');
// 		obj.password.focus();
// 		return false;
// 	}
// 	return true;
// }
</script>


</head>
<body>

<div class="container" align="center">
	<div class="col-md-6" style="margin-top: 20%;">
		<div class="inset">
			<form name="login" id="login" method="post" action="ecmsadmin.php" onSubmit="return CheckLogin(document.login);">
				<input type="hidden" name="enews" value="login">
				<div>
					<h2>好棒大夫预约挂号登录</h2>
					<span style="text-align: left;text-indent: 0.4em;"><label>手机号码</label></span>
					<span><input type="text" id="tel" name="tel" class="textbox" ></span>
					<span id="span1" ></span>
				</div>

				<div>
					<span style="text-align: left;text-indent: 0.4em;"><label>密码</label></span>
					<span><input  id="password" name="password" type="password" class="password"></span>
					<span id="span2" ></span>
				</div>

				<div>
					<span style="text-align: left;text-indent: 0.4em;"><label>验证码：</label></span>
					<span><input  type="text" id="code" required></span>
					<span id="span3" ></span>
					<img id="mycode" th:src="@{/getCode}" style="margin-left:8px;margin-top: 10px; vertical-align:bottom" width="83"height="36">
						<a onclick="refreshCode()" style="color: black;">看不清换一张</a>
				</div>

				<span id="span4" style="margin-top: 10px" ></span>
				<div class="sign">
					<input type="reset"  class="submit" value="重置"/>
					<input type="button" id="button1" value="登录"  class="submit"/>
					<input type="button" id="button2" value="gitee登录"  class="submit"/>
					<input type="button" id="button3" value="注册" class="submit" />
					<p>   </p>
					<input type="button" id="button4" value="忘记密码" class="submit" />
				</div>
			</form>
		</div>
	</div>
</div>

<script>

    //刷新验证吗
    function refreshCode(){
        $("#span4").html("");
        $("#mycode").attr("src","/getCode?time="+new Date().getTime())
    }

    // 给id=tel 添加失去焦点事件
    $("#tel").blur(function () {
        var tel = $("#tel").val();
        $.post("/goodf/user/checkLoginTel" , {"tel":tel} , function (data) {
            if (data.code == 0){
                $("#span1").html(data.msg);
                $("#span1").attr("style" , "color:green")
            } else {
                $("#span1").html(data.msg);
                $("#span1").attr("style" , "color:red")
            }
        },"json")
    });

    $("#password").blur(function () {
        var password = $("#password").val();
        $.post("/goodf/user/checkLoginPassword" , {"password":password} , function (data) {
            if (data.code == 0){
                $("#span2").html(data.msg);
                $("#span2").attr("style" , "color:green")
            } else {
                $("#span2").html(data.msg);
                $("#span2").attr("style" , "color:red")
            }
        },"json")
    });

    $("#code").blur(function () {
        var code = $("#code").val();
        $.post("/goodf/user/checkLoginCode" , {"code":code} , function (data) {
            if (data.code == 0){
                $("#span3").html(data.msg);
                $("#span3").attr("style" , "color:green")
            } else {
                $("#span3").html(data.msg);
                $("#span3").attr("style" , "color:red")
            }
        },"json")
    });

    //给id=button1 添加点击事件
    $("#button1").click(function () {
        //获取用户信息
        var tel=$("#tel").val();
        var password=$("#password").val();
        var code=$("#code").val();
        var url="/goodf/user/doLogin";
        var param={"tel":tel,"password":password,"code":code};
        $.ajax({
			url: url,
			data:JSON.stringify(param),
			type:"POST",
			dataType:"json",
			async:false,
			contentType:"application/json",
			success:function (data) {
                if (data.code==0) {
                    $("#span4").html("");
                    layer.msg(data.msg);
                    var id = setTimeout(function () {
                        location.href="/web/index";
                    },1000)
                }else if (data.code == 2001){
                    //key是data.data（map）的key
                    for (var key in data.data) {
                        if(key == "tel"){
                            $("#span1").html(data.data[key]);
                            $("#span1").attr("style" , "color:red")
                        }
                        if(key == "password"){
                            $("#span2").html(data.data[key]);
                            $("#span2").attr("style" , "color:red")
                        }
                        if(key == "code"){
                            $("#span3").html(data.data[key]);
                            $("#span3").attr("style" , "color:red")
                        }
                    }
                }
                else {
                    $("#span4").html(data.msg);
                    $("#span4").attr("style" , "color:red")
                }
            },
			error:function () {
                $("#span4").html("登录失败");
                $("#span4").attr("style" , "color:red")
            }
		})
    });


    $("#button2").click(function () {
        // $.post("/goodf/user/loginGitee" , "", function (data) {
        //     if (data.code == 0){
        //         $("#span4").html(data.msg);
        //         $("#span4").attr("style" , "color:green")
        //     } else {
        //         $("#span4").html(data.msg);
        //         $("#span4").attr("style" , "color:red")
        //     }
        // },"json")
        location.href="/web/toLoginGitee";
    });

    //给id=button2 添加点击事件
    $("#button3").click(function () {
        location.href="/web/toRegister";
    });

    $("#button4").click(function () {
        location.href="/web/toUpdatePassword";
    });



</script>

<script th:inline="javascript">
    $(document).ready(function () {
        var msg = [[${session.msg}]];
        if(msg != null){
            layer.msg(msg);
		}

    })
</script>

</body>
</html>