
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="renderer" content="webkit" /><meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>医生|呼吸内科 - 科室导航 - 就诊指南 - 医院标题</title>
    <meta name="Keywords" content="医院标题,人民医院,省医,山西人民医院,咨询, 留言, 山西医院, 寻医问药" />
    <meta name="Description" content="医院标题位于山西省太原市，建院于1906年，是一家三级甲等综合医院。医院秉承“患者至上，员工为本”的服务理念，弘扬“仁爱、博学、严谨、卓越”的医院精神，坚持“人民医院为人民”的办院宗旨，造就了一支业务精湛、医德高尚、纪律严明、作风过硬的职工队伍，树立了社会满意、患者信赖的良好形象。先后获得全国精神文明建设先进单位、全国文明单位、全国卫生系统先进集体、全国医院文化建设先进单位等多项荣誉称号。" />
    <meta name="robots" content="All" />
    <noscript><meta http-equiv="refresh" content="0; url=/noscript.htm" /></noscript>
    <!--[if lt IE 7]><meta http-equiv="refresh" content="0; url=/YouLose.htm" /><![endif]-->

    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/hospital/css/normalize.css" type="text/css" />
    <link rel="stylesheet" href="/hospital/css/secondary.css" type="text/css" />
    <!--[if lt IE 9]><script language="javascript" type="text/javascript" src="/hospital/js/Kunyi.Respond.min.js" ></script><![endif]-->
    <script language="javascript" type="text/javascript" src="/hospital/js/KunyiHTML5.min.js"></script>
    <script language="javascript" type="text/javascript" src="/hospital/js/Kunyilibrary.js"></script>
</head>
<body>
<script language="javascript" type="text/javascript" src="/hospital/js/Kunyi.Init.js"></script>
<header>
    <div class="topHidden"></div>
    <div class="toolBase">
        <div class="BaseMark">
            <ul th:if="${session.user != null}">
                <li class="first">
                    <a  th:text="${session.user.userName}"></a>
                </li>
                <li>
                    <a th:href="@{/searchInfoByUserId(userId=${session.user.userId})}">个人中心</a>
                </li>
            </ul>
            <ul th:if="${session.user == null}">
                <li class="first">
                    <a  href="/web/toLogin" >去登录</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="BaseMark logoBase"><a href="Index.html"><img src="/hospital/images/logo.jpg" class="load" width="227" height="160" /></a>
    </div>
</header>

<section class="BaseMark" >
<!--    这一段是那个递进菜单，到时候直接链接页面就行了，不需要大改-->
    <div class="bread">您所在的位置<span><a th:href="@{/web/index}">首页</a> > 医生</span>
    </div>

<!--    以下应该根据did拿到的医生详细情况了-->
    <div class="doctorLeft">
        <img th:src="${DoctorDetail.docPhoto}" id="DThumb" class="DThumb" width="112" height="150" alt="医生" />
        <h3 th:text="${DoctorDetail.dName}"></h3>
        <h4 th:text="${DoctorDetail.depName}"></h4>
<!--        最简单的做法，不管一些奇奇怪怪的东西，直接根据uid与did来完成预约功能，uid根据session获得，did进来这个页面的时候就拿到-->
        <input type="hidden" class="textBox length-middle"  id="dId" th:value="${DoctorDetail.dId}"/>
        <input type="button" id="yuYue" value="预约" style="background-color:green">

    </div>


    <div class="doctorRight">
        <div class='import import1'></div>
        <div class="title01">
            <h3>所在科室：</h3>
            <h1 th:text="${DoctorDetail.depName}"></h1>
            <span>
                <a href="Office-11.html" title="呼吸内科">进入科室</a>
            </span>
        </div>
        <div class="clear"></div>
        <div id="DIVContent" class="article intro">
            <p style="text-align:left;">
            <h3 th:text="${DoctorDetail.docIntroduction}"></h3>
        </p>
        </div>

        <div class="clear"></div>
    </div>
    <div class="clear"></div>
</section>
<div class="BottomHidden"></div>
<div id="Footer_CodeDiv">
    <script type="text/javascript">
        var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
        document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F4a1d36386e8734a5fd29acec9114818d' type='text/javascript'%3E%3C/script%3E"));
        document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Fafd2ae44e23648da4e8a81a7b1349be4' type='text/javascript'%3E%3C/script%3E"));
    </script>
</div>
<script language="javascript" type="text/javascript" src="/hospital/js/Kunyi.Common.js"></script>
<script language="javascript" type="text/javascript" src="/hospital/js/Kunyi.Secondary.js"></script>

<script>
    // 给id="yuYue"添加点击时间，实现预约功能,点击之后进入预约页面，改页面选择时间
    $("#yuYue").click(function () {
        var dId = $("#dId").val();
        var url = "/doctorWeb/toYuYue";
        var param = {"dId": dId}
        $.get(url,param,function (data) {
            console.log(data)
            location.href="/doctorWeb/toYuYue?dId="+dId;
        })
    })
</script>


</body>
</html>